/* ##################################################################### */
/* ##################### Definição de Variáveis Css #################### */
/* ##################################################################### */

:root
{
    --cor-principal:#131632;
    --cor-texto:#d3e1ec;
    --cor-hover:#adb3c1;
    --cor-4:#d3e1ec0e;
    --cor-destaque:#135089;
    --font-size-1:1rem;
    --font-size-2:1.1rem;
    --font-size-title:30pt;
    --font-size-textos:1.3rem;
}

/* ##################################################################### */
/* ##################### Estilização: Body and Root #################### */
/* ##################################################################### */

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--cor-principal);
}



/* ##################################################################### */
/* ####################### Estilização: Container ###################### */
/* ##################################################################### */ 

#container
{
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
        'header header'
        'line line'
        'main main'
    ;

    /* gap: 20px; */
}

/* ##################################################################### */
/* ######################## Estilização: Header ######################## */
/* ##################################################################### */

header
{
    margin-top: 10px;
    grid-area:header;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.circle 
{
    color: var(--cor-principal);
    background-color: var(--cor-texto);
    border-radius: 50%;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    font-size: var(--font-size-1);

}

.logo 
{
    display: flex;
    color: var(--cor-texto);
    font-size: var(--font-size-1);
    margin-right: 50px;
    align-items: center;
    transition: all 1s ease;
}

.logo>img
{
    max-width: 60px;
}

nav>ul
{
    display: flex;
    list-style: none;
}

nav>ul>li
{
    margin-left: 20px;
}
nav>ul>li>a
{
    color: var(--cor-texto);
    font-size: var(--font-size-1);
    text-decoration: none;
    transition: all 1s ease;
}

nav>ul>li>a:hover 
{
    color: var(--cor-hover);
    font-size: var(--font-size-2);
}

.nav-feature::after {
    content: "";
    width: 15px;
    height: 2px;
    background-color: var(--cor-texto);
    display: block;
}

.nav-feature-2 
{
    border: 1px solid var(--cor-texto);
    background-color: var(--cor-texto);
    color: var(--cor-principal);
    padding: 10px;   
}
.nav-feature-2:hover
{
    color: var(--cor-principal);
}

.night-light
{
    border: none;
    background-color: transparent;
    margin: 20px;
    cursor: pointer;
}

.night-light>i:active
{
    background-color: var(--cor-texto);
    color: var(--cor-principal);
}

.night-light>i
{
    color: var(--cor-texto);
    border: 1px solid var(--cor-texto);
    padding: 11px 10px 8px 10px;
    transition: border-radius 0.4s ease-in, background-color 0.5s ease;
    
}

.night-light>i:hover
{
    border-radius: 50%;
}

.lang
{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.line
{
    grid-area: line;
    background-color: var(--cor-4);
    height: 1px;
    margin: 10px;
}


